<mat-toolbar class="header">
    <div class="up-header">
        <a href="" mat-list-item>
            <i class="material-icons">
                notifications_active
            </i>
        </a>
        <a href="">
            <img src="assets/img/doctor.png" alt="Doctor name">
        </a>
    </div>
</mat-toolbar>

<mat-toolbar class="sub-header">
        <a href=""><p>Anamnese</p></a>
        <a href=""><p>Exame Físico</p></a>
        <a href=""><p>Resultados</p></a>
        <a href=""><p>Retorno</p></a>
</mat-toolbar>