<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
        <mat-nav-list class="nav-list">
           <div>
                <a href="" mat-list-item>
                    <p class="menu-t">T</p>
                </a>
            </div>
            <div>
                <a href="" mat-list-item>
                    <img class="menu-circle" src="assets/img/circle.png" alt="">
                </a>
            </div>
            <div>
                <a href="" mat-list-item>
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </div>
            <div>
                <a href="" mat-list-item>
                    <i class="material-icons">
                        headset
                    </i>
                </a>
            </div>
            <div>
                <a href="" mat-list-item>
                    <i class="material-icons">
                        assignment_ind
                    </i>
                </a>
            </div>
            <div>
                <a href="" mat-list-item>
                    <i class="material-icons">
                        notifications_active
                    </i>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
