.input {
    position: absolute;
    width: 45%;
    height: 60%;
    left: 7%;
    background-color: #FFF;
    margin-top: 2%;
    border-radius: 1%;
}

.input-box {
    padding: 0 5% 2% 5%;
}

.input-box p, .data-title, .days-counter, .title-card {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #1E1E1E;
}

.input-box-title {
    margin-bottom: 10%;
}

.inputs-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-email, .input-date, .days-result {
    height: 35%;
    border: 0.5px solid #E6E8EB;
    border-radius: 1%;
    margin: 5% 2% 10% 2%;
}

.input-email {
    width: 95%;
}

.input-date {
    width: 90%;
}

.days-result {
    width: 20%;
    height: 30px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-email::placeholder, .days-result::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #d1d2d4;
    margin-bottom: 5px;
}

.input-email:focus, .input-date:focus, .days-result:focus {
    outline: 0;
}

.days-return {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counter-description {
    position: absolute;
    left: 13%;
    top: 75%;
}

.card-reminder {
    width: 20%;
    height: 60%;
    margin-top: 1%;

    position: absolute;
    left: 55%;
    top: 23%;
}

.title-card {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #E6E8EB;
    border-block-start-color: #ABA022;
}