<mat-form-field class="input">
    <div class="input-box">
        <div class="input-box-title">
            <p>Vamos ajudar seu paciente a lembrar do dia do retorno enviando um lembrete.</p>
        </div>
        <div class="inputs-data">
            <div class="email">
                <label class="data-title" for="email">E-mail do paciente.</label>
                <input class="input-email" type="email" placeholder="e-mail">
            </div>
            <div class="date">
                <label class="data-title" for="date">Data de retorno.</label>
                <input class="input-date" type="date">
            </div>
        </div>
        <div class="days-return">
            <div class="counter">
                <label class="days-counter" for="days">Lembrar</label>
                <input class="days-result" type="text" placeholder="00">
            </div>
            <div class="counter-description">
                <p>dias antes da data marcada.</p>
            </div>
        </div>
    </div>
</mat-form-field>

<div>
    <div class="card-reminder">
        <p class="title-card">Lembretes</p>
    </div>
</div>
