.patient-register {
    width: 300px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 65px;
    border-bottom: 1px solid #E6E8EB;
    padding: 10px 0 10px 0;
}

.patient-name {
    border: none;
    background-color: #f3f1f1;
    width: 250px;
    height: 35px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.patient-name::placeholder, .age::placeholder, .weight::placeholder, .imc::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #d1d2d4;
}

.patient-name:focus, .age:focus, .weight:focus, .imc:focus {
    outline: 0;
}

.material-icons {
    position: absolute;
    right: 15px;
    top: 5%;
    color: #d1d2d4;
    padding: 20px 10px 0 0;
}

.patient-info {
    width: 300px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-description {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.patient-age, .patient-weight, .patient-imc {
    display: flex;
    flex-direction: column;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #d1d2d4;
}

.age, .weight, .imc {
    width: 35px;
    height: auto;
    border: none;
    background-color: #f3f1f1;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.age-description, .weight-description {
    color: #000000;
}

.age[type=number]::-webkit-inner-spin-button, .weight[type=number]::-webkit-inner-spin-button, .imc[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

