<div class="patient-area">
    <div class="patient-register">
        <div>
            <input class="patient-name" type="text" placeholder="Nome do paciente">
        </div>
        <div>
            <i class="material-icons">
                create
            </i>
        </div>
    </div>

    <div class="patient-info">
        <div class="patient-age">
            <label for="">Idade</label>
            <div class="input-description">
                <input class="age" type="number" placeholder="00">
                <p class="age-description">anos</p>
            </div>
        </div>
        <div class="patient-weight">
            <label for="">Peso</label>
            <div class="input-description">
                <input class="weight" type="number" placeholder="00.0">
                <p class="weight-description">Kg</p>
            </div>
        </div>
        <div class="patient-imc">
            <label for="">IMC</label>
            <input class="imc" type="number" placeholder="00.0">
        </div>
    </div>
</div>
