<div class="patient-register">
    <div>
        <input class="patient-name" type="text" placeholder="Nome do paciente">
    </div>
    <div>
        <i class="material-icons">
            create
        </i>
    </div>
</div>
<div class="paciente-info">
    <div class="patient-age">
        <label for="">Idade</label>
        <input type="number" placeholder="00">
    </div>
    <div class="patient-weight">
        <label for="">Peso</label>
        <input type="number" placeholder="00.0">
    </div>
    <div class="paciente-imc">
        <label for="">IMC</label>
        <input type="number" placeholder="00.0">
    </div>
</div>
